*{
    margin: 0;
    padding:0%;
    box-sizing: border-box;
}
.ms_bac{
    background-color: black;
}
.ms_alto{
    min-height: 40px;
}
.ms_largo{
    width: 80px;
    position: absolute;
    right: 20px;
    top: 8px;
}
.ms_logo{
    width: 100%;
   
}
.ms_fix{
    position: fixed;
    top: 0;
}
.ms_lista{
    list-style: none;
}
.ms_testo{
    color: rgb(78, 78, 78);
}
.ms_round{
    border-radius: 50px;
    background: rgb(61, 60, 60);
    color: honeydew;
    font-weight: bold;
}
.ms_vbig{
    height: 600px;
    background-image: url(./img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}
._W{
   width: 200px;
}
.game{
    width: 100%;
}
.ms_H{
    height: 600px;
    display: flex;
    align-items: center;
}
._ms{
    color: white;

}
.ms_effect{
    padding: 5px;
}
.ms_hov{
    padding: 1px;
}

.ms_hov:hover .ms_effect{
    display: block;
    border: 3px solid black;
    border-radius: 3px;
    transition: all 1s ease 0.3s;
    
}
.ms_margi{
    margin-top: 30px;
}








