*{
    margin: 0;
    padding:0%;
    box-sizing: border-box;
}
.lo0auto{
    margin: 0 auto;
}
.ms_bac{
    background-color: black;
}
.ms_alto{
    min-height: 40px;
}
.ms_largo{
    width: 80px;
    position: absolute;
    right: 20px;
    top: 8px;
}
img{
    width: 100%;
   
}
.ms_fix{
    position: fixed;
    top: 0;
}
.ms_lista{
    list-style: none;
    padding: 0;
}
.ms_testo{
    color: rgb(78, 78, 78);
}
.ms_testo:hover{
    color: blue;
}
.ms_round{
    border-radius: 50px;
    background: rgb(61, 60, 60);
    color: honeydew;
    font-weight: bold;
}
.ms_vbig{
    height: 600px;
    background-image: url(./img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}
.ms_vbig0{
    height: 600px;
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-size:cover;
    background-position: center;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: blue;
}
._W{
   width: 200px;
}
.game{
    width: 100%;
}
.ms_H{
    height: 600px;
    display: flex;
    align-items: center;
}
.ms_mt{
    margin-top: 40px;
}
._ms{
    color: white;

}
.ms_effect{
    padding: 5px;
}
.ms_hov{
    padding: 1px;
    border-radius: 20px;
    width: 120px;
    height: 45px;
}

.ms_hov:hover .ms_effect{
    display: block;
    border: 3px solid black;
    border-radius: 20px;
}
.ms_hovfirst{
    padding: 1px;
    border-radius: 20px;
    height: 45px;
    color: white;
    background-color: rgb(76, 75, 75);
}

.ms_hovfirst:hover .ms_effect{
    display: block;
    color: white;
    background-color: rgb(98, 97, 97);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
}
.ms_hov1{
    padding: 1px;
    border-radius: 20px;
    width: 120px;
    color: white;
    height: 45px;
    background: rgb(86, 65, 226);
    border-color: rgb(86, 65, 226);
}

.ms_hov1:hover .ms_effect{
    display: block;
    color: white;
    background: rgb(86, 65, 226);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    
}
.ms_hov2{
    padding: 1px;
    border-radius: 20px;
    width: 220px;
    color: rgb(86, 65, 226);
    height: 45px;
    background: rgba(255, 255, 255, 0.489);
}

.ms_hov2:hover{
    display: block;
    width: 220px;
    color: rgb(86, 65, 226);
    background:rgba(255, 255, 255, 0.489);
    border: 3px solid rgba(255, 255, 255, 0.34);
    border-radius: 20px;   
}
.ms_hov3{
    padding: 1px;
    border-radius: 20px;
    width: 220px;
    color: rgb(0, 0, 0);
    height: 45px;
    background: rgb(255, 255, 255);
}

.ms_hov3:hover{
    display: block;
    width: 220px;
    color: rgb(7, 7, 7);
    background:rgb(255, 255, 255);
    border: 3px solid rgba(255, 255, 255, 0.34);
    border-radius: 20px;   
}
.ms_margi{
    margin-top: 30px;
    margin-bottom: 100px;
}
.rounded_ms{
    border-radius: 25px;
}
.rounded_ms_active{
    border-radius: 25px;
    padding: 5px;
    border: 2px solid rgb(16, 175, 228);
}
.ms_trasform{
    font-size: 11px;
    color: rgb(64, 117, 216);
}
.ms_mymar{
    margin-top: 60px;
}
.ms_backend{
    background: rgb(42, 42, 42);
}
.ms_change{
    font-size: 11px;
    display: none;
}
.ms_down{
    font-size: 11px;
}
.ms_padre:hover .ms_down{
    display: none;
}
.ms_padre:hover .ms_change{
    display: inline-block;
}
.ms_sfondo{
    background-color: rgb(148, 149, 152);
}
.ms__alto{
    min-height: 350px;
    display: flex;
    align-items: center;
}
.ms_imagineplus{
    width: 270px;
}
.ms_sfondo12{
    background-color: rgb(16, 31, 76);
}
.my_width{
   width: 15px; 
}
.ps_global{
    width: 80px;
}
.anoth_width{
    width: 100px;
}
.dropdown-item img{
    width: 100px;
}
.bi_-circle{
    font-size: 5px;
    line-height: 32px;
    vertical-align: middle;
}
.ms_father{
    padding: 4px;
}
.ms_father:hover .ms_effetto-shadow{
    box-shadow: 4px rgba(235, 20, 20, 0.476);
}
._ms_ms{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.mt_mystile{
    margin-top: 100px;
}
.drop_me{
    color: black;
    text-decoration: none;
}
.drop_me:hover .ms_father{
    box-shadow: 0 0 5px grey;
}
.bordu{
    border-left: none;
    border-right: none;
}
.lover:hover{
    margin-top:5px;
}
.ms_border_fix{
    border-bottom: solid 3px rgb(89, 89, 235);
}
.hov_hov{
    opacity: 0.5;
    transition-duration: 2s;
}
.hov_hov:hover{
    opacity: 1;
}
.ms_un_po_margin{
    height: 100px;
}